<section>
  <div style="padding: 40px; background-color: grey">
    <div class="mb-4">
      <h1 style="color: white">Checkout</h1>
    </div>
    <div style="background-color: rgb(175, 175, 175); padding: 2%">
      <i data-feather="shopping-cart" class="mx-5" style="float: right"></i
      ><br /><br />
      <!-- jika session cart berisi product  -->
      <% if(products.length > 0) { %>
      <div class="row mx-5">
        <!-- Detail Produk -->
        <!-- looping setiap product di cart  -->
        <% products.forEach(function (items) { %>
        <div class="row">
          <div class="col-md-2 mt-2">
            <img
              src="<%= items.item.image %> "
              alt="produk"
              style="
                width: 100%;
                max-width: 250px;
                min-width: 90px;
                min-height: 80px;
              "
              name="img"
            />
          </div>
          <div class="col-md-5 mt-2">
            <p class="fs-5" name="name"><%= items.item.name %></p>
          </div>
          <div class="col-md-3 mt-2">
            <p class="fs-5" name="qty">x<%= items.qty %></p>
          </div>
          <div class="col-md-2 mt-2">
            <p class="fs-5 text-md-end text-sm-start" name="price">
              RP. <%= items.price %>
            </p>
          </div>
        </div>
        <% }); %>
        <br />
        <hr />
        <p class="fs-5 text-md-end text-sm-start" name="totalPrice">
          Total Produk: Rp. <%= totalPrice %>
        </p>

        <!-- Form Pembayaran & Pengiriman -->
        <form
          id="testform"
          action="/checkout/addOrder"
          class="needs-validation"
          novalidate
          method="post"
        >
          <div class="row mb-3">
            <label for="address" class="col-sm-12 col-md-2 col-form-label fs-5"
              >Alamat:</label
            >
            <div class="col-sm-12 col-md-10">
              <input
                type="text"
                class="form-control"
                id="address"
                style="font-size: large"
                placeholder="Masukkan Alamat"
                required
                name="address"
              />
              <div class="invalid-feedback">
                Masukkan alamat pengiriman anda.
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="payment" class="col-sm-12 col-md-2 col-form-label fs-5"
              >Payment:</label
            >
            <div class="col-sm col-md-6">
              <select
                name="payment"
                class="form-select"
                style="font-size: large"
                required
              >
                <option value>Pilih Pembayaran</option>
                <option value="bca">BCA</option>
                <option value="va">Virtual Account</option>
              </select>
              <div class="invalid-feedback">Pilih metode pembayaran anda.</div>
            </div>
          </div>

          <div class="row mb-3">
            <label
              for="pengiriman"
              class="col-sm-12 col-md-2 col-form-label fs-5"
              >Pengiriman:</label
            >
            <div class="col-sm col-md-6">
              <!-- panggil fungsi kirim() setiap memilih kurir  -->
              <select
                name="pengiriman"
                class="form-select"
                style="font-size: large"
                id="kurir"
                onchange="kirim()"
              >
                <option class="pilihan" value="">Pilih Kurir</option>
                <option class="pilihan" value="tiki">TIKI</option>
                <option class="pilihan" value="jne">JNE</option>
              </select>
              <div class="invalid-feedback">Pilih kurir pengiriman anda.</div>
            </div>
            <label
              for="pengiriman"
              class="col-sm-5 col-md-2 col-form-label fs-5 text-end"
              >Kurir yang dipilih:
            </label>
            <label
              id="pengirimans"
              for="pengiriman"
              class="col-sm col-md-2 col-form-label fs-5 text-end"
              ><%= checkout.pilih %>
            </label>
          </div>

          <!-- Detail Harga -->
          <div class="col-12">
            <p class="fs-5">Invoice:</p>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-7 fs-5">Produk:</div>
            <div class="col-sm-4 fs-5 text-end">RP. <%= totalPrice %></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 fs-5">Ongkir:</div>
            <div class="col-sm-4 fs-5 text-end" id="ongkirs">
              RP. <%= checkout.ongkir %>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 fs-5">Pajak:</div>
            <div class="col-sm-4 fs-5 text-end">RP. <%= checkout.pajak %></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-7 fs-5">Potongan:</div>
            <div class="col-sm-4 fs-5 text-end">
              RP. <%= checkout.potongan %>
            </div>
            <hr class="my-4" />
            <div class="col-sm-1 col-md-2"></div>
            <div class="col-sm-7 col-md-8 fs-5 mb-5 text-end">
              Total yang harus dibayar:
            </div>
            <div class="col-sm-4 col-md-2 fs-5 text-end" id="totalValue"></div>
          </div>
          <!-- Tombol Order -->
        </form>
        <div class="d-flex justify-content-end">
          <button
            class="btn btn-outline-dark btn-lg my-2"
            style="width: 150px; float: right"
            type="submit"
            id="add-order"
          >
            Order
          </button>
        </div>
      </div>
      <!-- jika tidak ada product dalam session cart  -->
      <% } else { %>
      <div class="col-md-12">
        <div
          class="div"
          style="background-color: #c4c4c4; text-align: center; height: 550px"
        >
          <h1 class="mt-5" style="position: relative; padding-top: 220px">
            Tidak Ada Produk
          </h1>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</section>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
  //fungsi untuk mengubah nilai ongkir, total harga, dan pengiriman melalui dropdown
  kirim = () => {
    $.get(
      //arahkan ke page /kurir/(id dari pilihan kurir)
      window.location.href +
        "/kurir/" +
        document.getElementsByClassName("pilihan")[
          document.getElementById("kurir").selectedIndex
        ].value,
      (a) => {
        //tampilkan text melalui id masing-masing
        $("#pengirimans").text(a.checkout.pilih);
        $("#ongkirs").text(a.checkout.ongkir);
        $("#totalValue").text(a.totalValue);
      }
    );
  };
</script>
<script>
  //pesan konfirmasi saat submit form
  $("#add-order").click(function () {
    if (confirm("Tambahkan pesanan?")) {
      $("#testform").submit();
    }
  });
</script>
<script>
  // Nonaktifkan pengiriman formulir jika ada bidang yang tidak valid
  (function () {
    "use strict";
    window.addEventListener(
      "load",
      function () {
        // Dapatkan formulir yang ingin ditambahkan gaya validasi
        var forms = document.getElementsByClassName("needs-validation");
        // Loop di atasnya dan mencegah pengiriman
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener(
            "submit",
            function (event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add("was-validated");
            },
            false
          );
        });
      },
      false
    );
  })();
</script>
