<style>
  #editProduct {
    width: 80%;
    margin: 2% auto 0;
    padding: 2% 3%;
    box-shadow: 0 0 10px black;
  }

  #editProduct div {
    padding: 3% 0;
    border-bottom: 1px solid rgb(200, 200, 200);
  }
</style>

<section style="margin: 2% 10% ;" id="editProduct">
  <button class="addBackBtn" onclick="history.back();">Cancel</button>
  <h2>Edit Produk</h2>
  <form
    action="/product/edit/<%= product._id %>"
    class="container"
    method="POST"
  
  >
    <div class="row">
      <p class="col-lg-3">Nama Produk :</p>
      <input class="col" type="text" name="name" value="<%= product.name %>" />
    </div>
    <div class="row">
      <p class="col-lg-3">Harga :</p>
      <input
        class="col"
        type="number"
        name="price"
        value="<%= product.price %>"
      />
    </div>
    <div class="row">
      <p class="col-lg-3">Kategori :</p>
      <select class="col" name="category" id="">
        <% categories.forEach(c => { %>
        <option value="<%= c.nama %>" <%= c.nama === product.category ? 'selected' : '' %>><%= c.nama %></option>
        <% }) %>
      </select>
    </div>
    <div class="row">
      <p class="col-lg-3">Merk :</p>
      <select class="col" name="brand" id="">
        <% brands.forEach(b => { %>
        <option value="<%= b.nama %>" <%= b.nama === product.brand ? 'selected' : '' %>><%= b.nama %></option>
        <% }) %>
      </select>
    </div>
    <div class="row">
      <p class="col-lg-3">Stok :</p>
      <input
        class="col"
        type="number"
        name="stock"
        value="<%= product.stock %>"
      />
    </div>
    <div class="row">
      <p class="col-lg-3">Foto Produk :</p>
      <input
        class="col"
        type="file"
        name="fotoProduk"
      />
      <input
        class="col"
        type="hidden"
        name="imgPathLama"
        value="<%= product.image %>"
      />
    </div>
    <div class="row">
      <p class="col-lg-3">Deskripsi :</p>
      <textarea
        class="col"
        name="description"
        id=""
        cols="50"
        rows="10"
        style="vertical-align: text-top"
        value="<%= product.description %>"
      >
  <%= product.description %>
      </textarea>
    </div>
    <section class="row my-2" onclick="return confirm('Yakin Akan Diedit ?')">
      <p class="col-lg-3"></p>
      <input
        id="edit-product-submit"
        class="col-lg-3"
        type="submit"
        value="Edit Produk"
      />
    </section>
  </form>
  
  <form
    action="/product/delete/<%= product._id %>"
    class="container"
    method="POST"
    enctype="multipart/form-data"
  >
    <section class="row my-3" onclick="return confirm('Yakin Akan Dihapus ?')">
      <p class="col-lg-3"></p>
      <input
        id="delete-product-submit"
        class="col-lg-3 btn btn-danger"
        type="submit"
        value="Delete Produk"
      />
    </section>
  </form>
  
</section>

