<style>
  #editProfile {
    width: 80%;
    margin: 2% auto 0;
    padding: 2% 3%;
    box-shadow: 0 0 10px black;
  }

  #editProfile div {
    padding: 3% 0;
    border-bottom: 1px solid rgb(200, 200, 200);
  }

  #editProfile .profile-pic {
    width: 50%;
    border-radius: 100%;
    border: 1px solid gray;
    background-color: white;
  }
</style>

<section>
  <div id="editProfile">
    <h2>Edit Profile</h2>
    <!-- jika user login -->
    <% if(user){ %>
    <form
      action="/editProfile"
      class="container"
      onsubmit="return confirm('Yakin Edit ?')"
      method="POST"
    >
      <div class="row">
        <p class="col-lg-2" style="text-align: center">
          <img src="<%= user.imagePath %>" class="profile-pic" alt="..." />
        </p>
        <p class="col">
          <span class="row">&nbsp Foto Profil</span>
          <br />
          <input type="file" name="fotoProfil" />
          <input
          class="col"
          type="hidden"
          name="imgPathLama"
          value="<%= user.imagePath %>"
        />
        </p>
      </div>

      <div class="row">
        <p class="col-lg-2">Username :</p>
        <input
          class="col"
          type="text"
          name="username"
          value="<%= user.username %>"
        />
      </div>
      <div class="row">
        <p class="col-lg-2">email :</p>
        <input
          class="col"
          type="text"
          name="email"
          value="<%= user.email %>"
        />
      </div>
      <div class="row">
        <p class="col-lg-2">No. Handphone :</p>
        <input
          class="col"
          type="text"
          name="phone"
          value="<%= user.phone %>"
        />
      </div>
      <div class="row">
        <p class="col-lg-2">Jenis Kelamin :</p>
        <select class="col" name="gender" id="">
          <option value="Pria">Pria</option>
          <option value="Wanita">Wanita</option>
          <option value="lainnya">Lainnya</option>
        </select>
      </div>
      <div class="row">
        <p class="col-lg-2">Tanggal lahir :</p>
        <input
          class="col"
          type="date"
          name="birthDate"
          value="<%= user.birthDate %>"
        />
      </div>
      <div class="row">
        <p class="col-lg-2">Password :</p>
        <input
          class="col"
          type="password"
          name="password"
          value="<%= user.password %>"
        />
      </div>
      <div class="row">
        <p class="col-lg-2">Alamat :</p>
        <!-- <section class="col">
          <select class="row" name="" id="selectAlamat">
            <option class="optionAlamat">Alamat 1</option>
            <option class="optionAlamat">Alamat 2</option>
            <option class="optionAlamat">Alamat 3</option>
          </select>
          <br /> -->
          <input
            class="col"
            type="text"
            name="address"
            value="<%= user.address %>"
          />
        </section>
      </div>
      <section class="row my-2">
        <p class="col-lg-2"></p>
        <input
          id="edit-profile-submit"
          class="col-lg-2"
          type="submit"
          value="Edit Profile"
        />
        <a
          href="/profile"
          class="col-lg-2 my-2 my-lg-0 mx-lg-3 btn btn-danger"
          role="button"
          >Cancel</a
        >
      </section>
    </form>
    <% }; %>
  </div>
</section>
