<style>
  .jc-sb {
    display: flex;
    justify-content: space-between;
  }
  .ta-c {
    text-align: center;
  }
  .td a {
    text-decoration: none;
    color: black;
  }
  .mar10 {
    margin: 10px;
  }
  * {
    margin: 0;
    padding: 0;
  }

  .min-back {
    background-color: rgb(175, 175, 175);
  }

  .filter {
    width: 20%;
    border: 1px solid black;
    margin-right: 20px;
    padding: 2%;
    height: 25%;
  }

  .product {
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    padding: 2% 0;
  }

  .prod {
    width: 70%;
  }

  p {
    margin-bottom: 0;
  }

  .filter *,
  .filter-menu * {
    background-color: rgb(175, 175, 175);
  }

  .filter-menu {
    display: none;
  }

  @media screen and (max-width: 767px) {
    .filter-menu {
      display: block;
      margin: 5%;
    }
    .filter {
      display: none;
    }

    .row-cols-md-3 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 550px) {
    .row-cols-md-3 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>

<section style="background-color: grey; padding: 2%">
  <h1 style="color: white">Products</h1>
  <form action="/productFilter" method="POST">
    <div class="dropdown filter-menu">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton1"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Filters
      </button>
      
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li>
          <div>
            <!-- tombol apply filter -->
            <input
            id="filter-product-submit"
            class="btn btn-dark"
            type="submit"
            value="Apply Filter"
          />
          </div>
          <div>
            <p><b>Sort by</b></p>
            <select class="custom-select" style="width: 70%">
              <option selected>Rating</option>
              <option value="1">Higher price</option>
              <option value="2">Lower price</option>
              <!-- <option value="3">Newest</option>
              <option value="4">Latest</option> -->
            </select>
          </div>
        </li>
        <li>
          <div>
            <p><b>Price</b></p>
            <div style="display: flex; margin-bottom: 10px">
              <p style="background-color: grey; padding: 0 5px">Rp</p>
              <input
                type="number"
                name="minPrice"
                id=""
                style="width: 70%"
                placeholder="Minimum price"
              />
            </div>
            <div style="display: flex">
              <p style="background-color: grey; padding: 0 5px">Rp</p>
              <input
                type="number"
                name="maxPrice"
                id=""
                style="width: 70%"
                placeholder="Maximum price"
              />
            </div>
          </div>
        </li>
        <li>
          <div style="margin-top: 5px">
            <p><b>Kategori</b></p>
              <% categories.forEach(c => { %>
              <p><input type="checkbox" name="category" value="<%= c.nama %>"/> <%= c.nama %></p>
              <% }) %>
              <p><b>Brand</b></p>
              <% brands.forEach(b => { %>
              <p><input type="checkbox" name="brand" value="<%= b.nama %>"/> <%= b.nama %></p>
              <% }) %>
          </div>
        </li>
      </ul>
    </div>
  </form>
 
  
  <!-- bukan responsive -->
  <div class="product">
    <div class="filter">
      <h3>Filters</h3>
      <form action="/productFilter" method="POST">
        <div>
          <!-- tombol apply filter -->
          <input
          id="filter-product-submit"
          class="btn btn-dark"
          type="submit"
          value="Apply Filter"
        />
        </div>
        <div>
          <p><b>Sort by</b></p>
          <select name="sortBy" class="custom-select" style="width: 70%">
            <option selected value="Rate">Rating</option>
            <option value="hiPrice">Higher price</option>
            <option value="loPrice">Lower price</option>
            <!-- <option value="new">Newest</option>
            <option value="old">Oldest</option> -->
          </select>
        </div>
        <div>
          <p><b>Price</b></p>
          <div style="display: flex; margin-bottom: 10px">
            <p style="background-color: grey; padding: 0 5px">Rp</p>
            <input
              type="number"
              name="minPrice"
              id=""
              style="width: 70%"
              placeholder="Minimum price"
            />
          </div>
          <div style="display: flex">
            <p style="background-color: grey; padding: 0 5px">Rp</p>
            <input
              type="number"
              name="maxPrice"
              id=""
              style="width: 70%"
              placeholder="Maximum price"
            />
          </div>
          <div style="margin-top: 5px">
            <p><b>Kategori</b></p>
            <% categories.forEach(c => { %>
            <p><input type="checkbox" name="category" value="<%= c.nama %>"/> <%= c.nama %></p>
            <% }) %>
            <p><b>Brand</b></p>
            <% brands.forEach(b => { %>
            <p><input type="checkbox" name="brand" value="<%= b.nama %>"/> <%= b.nama %></p>
            <% }) %>
          </div>
      </form>
    </div>
      
    </div>
    <div class="prod">
      <div>
        <div class="row row-cols-1 row-cols-md-3">
          <% products.forEach((product) => {%>
          <div class="col mb-4">
            <a
              href="/details/<%= product._id %>"
              style="text-decoration: none; color: black"
            >
              <div class="card h-100">
                <img
                  src="<%= product.image %>"
                  height="150px"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><%= product.name %></h5>
                  <p class="card-text">Rp <%= product.price %></p>
                </div>
                <a
                  href="/add-to-cart/<%= product._id %>"
                  class="btn btn-primary mar10"
                  style="background-color: grey; color: white; border: none"
                  >Add to cart</a
                >
                <a
                  href="/buyNow/<%= product._id %>"
                  class="btn btn-primary mar10"
                  style="background-color: grey; color: white; border: none"
                  >Buy Now</a
                >
                <a
                  href="/add-to-wish/<%= product._id %>"
                  class="btn btn-primary mar10"
                  style="background-color: grey; color: white; border: none"
                  >Wishlist</a
                >
              </div>
            </a>
          </div>
          <% });%>
        </div>
      </div>
    </div>
  </div>
</section>
