<style>
  #profile {
    width: 80%;
    margin: 2% auto 0;
    padding: 2% 3%;
    box-shadow: 0 0 10px black;
  }

  #profile .chat-avatar {
    width: 50px;
    margin: 2%;
    border-radius: 100%;
    border: 1px solid gray;
    background-color: white;
  }

  #profile .head {
    align-items: center;
    display: flex;
    padding-bottom: 1%;
    margin-bottom: 1%;
    border-bottom: 2px solid rgb(180, 180, 180);
  }
  #profile .body p {
    padding: 1% 2%;

    border-bottom: 1px solid rgb(200, 200, 200);
  }
</style>

<section>
  <div id="profile">
    <div class="head">
      <!-- jika user login -->
      <% if(user){console.log(user) %>
      <img src="<%= user.imagePath %> " class="chat-avatar" alt="..." />
      <div>
        <h3><%= user.username %></h3>
        <h6><%= user.email %></h6>
      </div>
      <div style="margin-left: auto">
        <a
          type="button"
          href="/editProfile"
          class="btn btn-outline-dark"
          title="Edit Profile"
          ><i data-feather="edit"></i
        ></a>
      </div>
    </div>
    <div class="body">
      <p><b> No. Handphone : </b> <%= user.phone %></p>
      <p><b>Jenis Kelamin : </b> <%= user.gender %></p>
      <p><b>Tanggal Lahir : </b> <%= user.birthDate %></p>
      <p><b>Password : </b> <%= user.password %></p>
      <div>
        <p>
          <span><b>Alamat : </b> </span>
          <select name="" id="selectAlamat">
            <option class="optionAlamat" value="jl.xxxx xxxx komplek xxxx 1 ">
              Alamat 1
            </option>
            <option class="optionAlamat" value="jl.xxxx xxxx komplek xxxx 2">
              Alamat 2
            </option>
            <option class="optionAlamat" value="jl.xxxx xxxx komplek xxxx 3">
              Alamat 3
            </option>
          </select>
        </p>
        <p id="viewAlamat"><%= user.address %></p>
      </div>
      <!--jika user belum login-->
      <% }else{ %>
      <div class="col-md-12">
        <div
          class="div"
          style="background-color: #c4c4c4; text-align: center; height: 550px"
        >
          <h1 class="mt-5" style="position: relative; padding-top: 220px">
            Tidak Ada User
          </h1>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>

<script>
  $("#selectAlamat")
    .change(function () {
      var str = "";
      $("select option:selected").each(function () {
        str = $(this).val();
      });
      $("#viewAlamat").empty();
      $("#viewAlamat").text(str);
    })
    .trigger("change");
</script>
