<style>
  .jc-sb {
    display: flex;
    justify-content: space-between;
  }
  .ta-c {
    text-align: center;
  }
  .td a {
    text-decoration: none;
    color: black;
  }
  .mar10 {
    margin: 10px;
  }

  @media screen and (max-width: 800px) {
    .row-cols-md-4 > * {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (max-width: 450px) {
    .row-cols-md-4 > * {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
</style>

<section>
  <div>
    <div style="padding: 40px; background-color: grey">
      <div class="mb-4">
        <h1 style="color: white">My Wishlist</h1>
      </div>
      <div style="background-color: rgb(175, 175, 175); padding: 2%">
        <div class="row row-cols-1 row-cols-md-4">
          <% if(products.length > 0 ){ %> 
            <% products.forEach(function(items){ %>
          <div class="col mb-4">
            <a href="/details" style="text-decoration: none; color: black">
              <div class="card h-100">
                <img
                  src="<%= items.item.image %>"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title"><%= items.item.name %></h5>
                  <p class="card-text">RP.<%= items.item.price %></p>
                </div>
                <a
                  href="/wishlist/add-to-cart-from-wish/<%= items.item._id %>"
                  class="btn btn-primary mar10"
                  style="background-color: grey; color: white; border: none"
                  >Add to cart</a
                >
                <a
                  href="checkout.html"
                  class="btn btn-primary mar10"
                  style="background-color: grey; color: white; border: none"
                  >Buy Now</a
                >
                <a
                  href="/wishlist/remove-w/<%= items.item._id %>"
                  class="btn btn-primary mar10"
                  style="background-color: grey; color: white; border: none"
                  >Remove</a
                >
              </div>
            </a>
          </div>
          <% }) %>
          <% } else {%>
            <div class="card-body" style="width: auto;">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <h4 class="text-center m-auto" style="color:rgb(88, 99, 102);"><br><br><br>No items in wishlist!<br></h4>
                </div>
            </div>
            <br><br><br>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  feather.replace();
</script>
